@use '../../styles/colors';
@use '../../styles/form';

$pad-top:24px;



form > div:nth-child(1){
    display:grid;
    grid-template-columns: 1fr 130px;
 }

.container{
    width: calc(100% - 64px);
    height:100%;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 280px 1fr;
    background-color: colors.$white2;
    padding: 32px;
}


.build-container{
    height:calc(100% - $pad-top);
    width: 100%;
    display: grid;
    grid-template-rows: 52px 48px 1fr;
    padding-top:$pad-top;
}

h1{
    display: inline;
    font-size: 32px;
    margin:0;
}
h2{
    font-size: 26px;
    margin:0;
}

.steps-header{
    display: grid;
    grid-template-columns: 1fr 120px;
    button{
        cursor: pointer;
        height:40px;
        width:110px;
        text-align: center;
        border-radius: 6px;
        border:none;
        color: colors.$white;
        grid-column-end:right;
        font-weight: 600;
        font-size: 12px;
        background-color: colors.$green;
    }
}

.rich-text-options{
    background-color: colors.$white2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    place-items: center;
    // margin-left: 84px;
    margin-bottom: 12px;
    border-bottom: 2px solid colors.$gray;
    
    & .text-style-cta{
        height:32px;
        width:32px;
        margin-right: 4px;
        border:none;
        background-color: colors.$white2;
        cursor: pointer;
        border-radius: 8px;
        
        
    }
    & .text-style-cta:hover{
        background-color: colors.$tx2;
    }
    & .test-style-cta-selected{
        background-color: colors.$tx3;
    }
    
}

:host ::ng-deep mat-icon{
    font-size: 18px;
    height:18px;
    width: 18px;
}