

<div class="container overflow">
    <loader *ngIf="loading$ | async"></loader>
    <form id="form" [formGroup]="testForm" (ngSubmit)="onSubmit()">
        <div>
            <h1>New test case</h1>
            <div class="right-header">
                <button form="form" type="submit" class="main-cta" >Create</button>
            </div>
        </div>
        
        <mat-form-field appearance="outline" style="margin-bottom: 20px;">
            <mat-label>Enter test name</mat-label>
            <input formControlName="name" id="test-name" matInput [placeholder]="namePlaceholder">
            <mat-error *ngIf="isFieldInvalid('name')">Test name should not be empty</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Enter requirement name or id</mat-label>
            <input formControlName="req" id="req-name" matInput [placeholder]="reqPlaceholder">
            <mat-error *ngIf="isFieldInvalid('req')">Requirement should not be empty</mat-error>
          </mat-form-field>
        <p id="submitted-text" *ngIf="submitted">{{testForm.get("name")?.value}} {{reqName}}</p>     
    </form>
    <div class="build-container">
        <div class="steps-header">
            <h2 >Test steps</h2>
            <button (click)="addStep(stepsArr.length)">Add step</button>
        </div>
        
        <div class="test-container" >
          <ng-container #container></ng-container>
            <!-- <rich-text-wave-auto-complete 
            #autocomplete
            *ngFor="let item of components;let i = index" [index]="i" 
            [autoData]="foundSteps"
            (removeItem)="removeItem($event)">
            </rich-text-wave-auto-complete> -->
            
        </div>
    </div>
  </div>
