@use '../../styles/colors';
@use '../../styles/form';

$pad-top:24px;

mat-form-field{
    display: block;
}
.h1-h{
    font-size: 32px;
    margin:0;
}
.card{
    border-radius: 8px;
}
.loader{
    position:absolute;
    z-index: 999;
}
.header{
    padding:12px 24px 12px 24px;
    background-color: colors.$white2;
     
}
.header > div:nth-child(1){
    display:grid;
    grid-template-columns: 1fr 120px;
 }

.container{
    width: calc(100% - 64px);
    height:calc(100% - 64px);
    overflow-y: scroll;
    display: grid;
    background-color: colors.$gray;
    
    padding: 32px;
}
.right-content{
    grid-template-rows: 280px 1fr;
    row-gap: 32px;
    display: grid;
    background-color: colors.$gray;
}
.sidebar{
    background-color: colors.$white2;
}
.bottom-body{
    display:grid;
}

$side-p:92px;
.build-container{
    background-color:colors.$white2;
    height:calc(100% - $pad-top);
    width: 100%;
    display: grid;
    grid-template-rows: 64px 1fr;
    overflow-y: auto;
    
    padding-top:$pad-top;
    overflow-y: scroll;
    
    .test-container{
      
    //     scrollbar-width: none;  /* Firefox */
    // }::-webkit-scrollbar {
    //     display: none;
     }
}
.preview{
    background-color:colors.$gray;
}
h1{
    display: inline;
}

.main-cta{
    font-family: 'Roboto', sans-serif;
    border:none;
    background-color: colors.$black;
    color:white;
    padding:12px 36px 12px 36px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.test-header{
    height:100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 200px;
    .right-header{
        display: flex;
        align-items: center;
        .main-cta{
           margin-left: auto;
         }
    }
     
}

.steps-header{
    display: grid;
    grid-template-columns: 1fr 120px;
    button{
        cursor: pointer;
        height:40px;
        width:110px;
        text-align: center;
        border-radius: 6px;
        border:none;
        color: colors.$white;
        font-weight: 600;
        font-size: 12px;
        background-color: colors.$green;
    }
}





