
<div class="step-container">
  <div>
    <span class="step-number">
     Step&nbsp;<span>{{index+1}}</span>
    </span>
  </div>
  <div class="wave-step-cont">
 
    
    <div #waveRich
    name="autocomplete" 
    matAutocompleteOrigin
    [textContent]="model"
    (blur)="onBlur($event)"
    (keydown)="keydown($event)"
    cdkOverlayOrigin #trigger="cdkOverlayOrigin"
    (keyup)="keyup($event)" class="textarea" contenteditable="true" role="textbox">
    
    </div> 
    <mat-icon class="menu" [matMenuTriggerFor]="menu">more_vert</mat-icon>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="removeClicked()">
      <mat-icon>delete</mat-icon>
      <span>Remove step</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>speaker_notes</mat-icon>
      <span>Enable Gherkin</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>Step info</span>
    </button>
  </mat-menu>
</div>


