
<div class="step-container">
  <div>
    <span class="step-number">
     Step&nbsp;<span>{{index+1}}</span>
    </span>
  </div>
  <div class="wave-step-cont">
 
    <!-- <div class="rich-text-options">
       <div style="width: 100%;height:36px;">
        <button class="text-style-cta" id="bold-cta" (click)="buttonClicked($event.target!)">
          <mat-icon>format_bold</mat-icon>
        </button>
        <button class="text-style-cta" id="italic-cta" (click)="buttonClicked($event.target!)">
         <mat-icon>format_italic</mat-icon>
        </button>
        <button class="text-style-cta" id="underline-cta" (click)="buttonClicked($event.target!)">
          <mat-icon>format_underlined</mat-icon>
        </button>
        <button class="text-style-cta" id="strikethrough-cta" (click)="buttonClicked($event.target!)">
          <mat-icon>strikethrough_s</mat-icon>
        </button>
        <button class="text-style-cta" (click)="color()">C</button>
        <button (click)="reset()">R</button>
       </div>
    </div> -->
    <div #waveRich
    name="autocomplete" 
    matAutocompleteOrigin
    [textContent]="model"
    (keydown)="keydown($event)"
    cdkOverlayOrigin #trigger="cdkOverlayOrigin"
    (keyup)="keyup($event)" class="textarea" contenteditable="true" role="textbox">
    
    </div> 
    <mat-icon class="menu" [matMenuTriggerFor]="menu">more_vert</mat-icon>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="removeClicked()">
      <mat-icon>delete</mat-icon>
      <span>Remove step</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>speaker_notes</mat-icon>
      <span>Enable Gherkin</span>
    </button>
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>Step info</span>
    </button>
  </mat-menu>
</div>


